body.contact, body.classes {
  background-color: #F1E7E6;
}
body.contact h2, body.classes h2 {
  color: #C7A4A0;
}
body.contact h3, body.classes h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #C7A4A0;
}
body.contact h3.class-title, body.classes h3.class-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
}
body.contact h3.time-table-heading, body.classes h3.time-table-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
}
body.contact p, body.classes p {
  color: #242424;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
body.contact a, body.classes a {
  color: #242424;
  text-decoration: none;
}
body.contact button.btn.btn-secondary, body.classes button.btn.btn-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #C7A4A0;
  box-sizing: border-box;
  border-radius: 30px;
  color: #C7A4A0;
  background: none;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}
body.contact table > :not(:first-child), body.classes table > :not(:first-child) {
  border-top: 10px solid rgba(130, 91, 43, 0.2);
}
body.contact table :not(caption) > * > *, body.classes table :not(caption) > * > * {
  border-bottom: none;
}
body.contact table th, body.classes table th {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
body.contact table td, body.classes table td {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
body.contact table td a, body.classes table td a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #005B6F;
  text-decoration: underline;
  text-transform: capitalize;
}
body.contact table td.class-teacher, body.classes table td.class-teacher {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

body.classes .container a {
  color: #C7A4A0;
  text-decoration: underline;
}

body.services {
  background-color: #EDEAE3;
}
body.services h2 {
  color: #3F4B0F;
}
body.services h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #3F4B0F;
}
body.services h3.class-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
}
body.services h3.time-table-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
}
body.services p {
  color: #242424;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
body.services a {
  color: #242424;
  text-decoration: none;
}
body.services table > :not(:first-child) {
  border-top: 10px solid rgba(130, 91, 43, 0.2);
}
body.services table th {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
body.services table td {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
body.services table td a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #005B6F;
  text-decoration: underline;
  text-transform: capitalize;
}
body.services table td.class-teacher {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
body.services .image-rounded-right {
  position: absolute;
  right: 0px;
  top: 50%;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  overflow: hidden;
}

body {
  background: #FBFBF8;
  font-family: "Poppins", sans-serif;
}

h1 img {
  padding: 25px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 50px;
  color: #C39F72;
  margin-bottom: 30px;
}

p {
  color: #777777;
}

a {
  color: #005B6F;
}

ol, ul {
  padding-left: 7rem;
}

header.home {
  background-image: url("../images/top-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.dropdown-menu.show {
  background-color: #DCD6C7;
  color: #242424;
  border: none;
  padding: 30px;
}

.dropdown-item:focus {
  background: #DCD6C7;
  color: #242424;
  font-weight: 500;
}

.navbar.navbar-light .nav-link {
  color: #242424;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 10px 20px;
}
.navbar.navbar-light .nav-link.active {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #005B6F;
}
.navbar.navbar-light .navbar-toggler {
  border: none;
}
.navbar.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu-toggle.svg");
}

.cta {
  background: #EDEAE3;
  color: #242424;
  border-top: 2px solid #C39F72;
  border-bottom: 2px solid #C39F72;
}
.cta .cta-bg {
  background-image: url("../images/cta-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.contact-img-banner {
  background: #EDEAE3;
  color: #242424;
  border-top: 2px solid #C39F72;
  border-bottom: 2px solid #C39F72;
  min-height: 600px;
  background-image: url("../images/contact-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
.contact-img-banner .img-right-mask {
  position: absolute;
  left: -32%;
  height: 596px;
}

.classes-img-banner {
  background: #EDEAE3;
  color: #242424;
  border-top: 2px solid #C39F72;
  border-bottom: 2px solid #C39F72;
  min-height: 600px;
  background-image: url("../images/class-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
.classes-img-banner .img-right-mask {
  position: absolute;
  left: -32%;
  height: 596px;
}

.services-img-banner {
  background: #EDEAE3;
  color: #242424;
  border-top: 2px solid #C39F72;
  border-bottom: 2px solid #C39F72;
  min-height: 600px;
  background-image: url("../images/services-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  overflow: hidden;
  position: relative;
}
.services-img-banner .img-left-mask {
  position: absolute;
  right: -27%;
  height: 596px;
}

.providers-section {
  padding: 30px 0px;
}
.providers-section img {
  padding: 10px 30px;
  mix-blend-mode: luminosity;
}

button.btn.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #C7A4A0;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  background: #C7A4A0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

button.btn.btn-primary:hover {
  background: none;
  color: #C7A4A0;
}

button.btn.btn-primary.green {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #005B6F;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  background: #005B6F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

button.btn.btn-primary.green:hover {
  background: none;
  color: #005B6F;
}

button.btn.btn-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #3F4B0F;
  box-sizing: border-box;
  border-radius: 30px;
  color: #3F4B0F;
  background: none;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}

button.btn.btn-secondary:hover {
  background-color: #3F4B0F;
  color: #fff;
}

footer {
  background: #F9EADC;
  color: #005B6F;
  padding: 60px 0px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  background-image: url("../images/footer-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-x: 75%;
  background-position-y: 200px;
}
footer p {
  color: #005B6F;
}
footer .footer-logo {
  position: relative;
  top: 25%;
}
footer h3 {
  color: #005B6F;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
footer ul {
  padding-left: 0rem;
  list-style: none;
}
footer ul li {
  background-image: url("../images/bullet-point.svg");
  background-repeat: no-repeat;
  background-position-y: 0.6rem;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
footer ul li::marker {
  margin-top: 5px;
}

.team-section {
  max-width: 960px;
}
.team-section .col {
  padding: 40px;
}
.team-section .card {
  border: none;
  background: none;
}
.team-section .card .card-img-top {
  border-radius: 50%;
}
.team-section .card .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #242424;
}
.team-section .card .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #C39F72;
}

.team-detail {
  max-width: 960px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.team-detail h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.team-detail .team-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #C39F72;
}

.contact-information {
  max-width: 960px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.dropdown-toggle::after {
  background-image: url("../images/chevron-down.svg");
  border: none;
  width: 9px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 8px;
  top: 1px;
  position: relative;
}

@media (max-width: 767px) {
  body {
    background: #fff;
  }

  header {
    background-image: url("../images/mobile-top-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  footer {
    background-position-y: bottom;
  }
}

/*# sourceMappingURL=custom.css.map */
