$font-stack: Helvetica, sans-serif;
$darkrose-color: #C7A4A0;
$lightrose-color: #F1E7E6;
$darkgrey-color: #242424;
$offwhite-color: #FBFBF8;
$sand-color: #EDEAE3;
$green-color: #3F4B0F;
$link-color: #005B6F;
$gold-color: #C39F72;
$peach-color: #F9EADC;
$darkpeach-color: #F3D1AD;
$intext-grey-color: #777777;
$dropdown-color: #DCD6C7;

body.contact, body.classes {
  background-color: $lightrose-color;

  h2{
    color: $darkrose-color;
  }

  h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: $darkrose-color;
  }

  h3.class-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
  }

  h3.time-table-heading{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
  }

  p{
    color: $darkgrey-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  a{
    color: $darkgrey-color;
    text-decoration: none;
  }

  button.btn.btn-secondary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
  
    border: 1px solid $darkrose-color;
    box-sizing: border-box;
    border-radius: 30px;
    color: $darkrose-color;
    background: none;
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
  }

  table{
    > :not(:first-child){
      border-top: 10px solid rgba(130, 91, 43, 0.2);;
    }

    th{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
  
    td{
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
  
      a{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $link-color;
        text-decoration: underline;
        text-transform: capitalize;
      }
    }

    td.class-teacher{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

body.classes{
  .container a{
    color: $darkrose-color;
    text-decoration: underline;
  }
}

body.services {
  background-color: $sand-color;

  h2{
    color: $green-color;
  }

  h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: $green-color;
  }

  h3.class-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
  }

  h3.time-table-heading{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
  }

  p{
    color: $darkgrey-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  a{
    color: $darkgrey-color;
    text-decoration: none;
  }

  table{
    > :not(:first-child){
      border-top: 10px solid rgba(130, 91, 43, 0.2);;
    }

    th{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
  
    td{
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
  
      a{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $link-color;
        text-decoration: underline;
        text-transform: capitalize;
      }
    }

    td.class-teacher{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .image-rounded-right{
    position: absolute;
    right: 0px;
    top: 50%;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    overflow: hidden;
  }
}


body{
  background: $offwhite-color;
  font-family: 'Poppins', sans-serif;
}

h1 img {
  padding: 25px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 50px;
  color: $gold-color;
  margin-bottom: 30px;
}

p{
  color: $intext-grey-color;
}

a{
  color: $link-color;
}

ol, ul {
  padding-left: 7rem;
}

header.home{
  background-image: url("../images/top-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.dropdown-menu.show{
  background-color: $dropdown-color;
  color: $darkgrey-color;
  border: none;
  padding: 30px;
}

.navbar.navbar-light{
  .nav-link{
    color: $darkgrey-color;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 10px 20px;
  }

  .nav-link.active{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: $link-color;
  }

  .navbar-toggler{
    border: none;
  }

  .navbar-toggler-icon{
    background-image: url("../images/menu-toggle.svg");
  }
}

.cta{
  background: $sand-color;
  color: $darkgrey-color;
  border-top: 2px solid $gold-color;
  border-bottom: 2px solid $gold-color;

  .cta-bg{
    background-image: url("../images/cta-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

.contact-img-banner{
  background: $sand-color;
  color: $darkgrey-color;
  border-top: 2px solid $gold-color;
  border-bottom: 2px solid $gold-color;
  min-height: 600px;

  background-image: url("../images/contact-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;

  .img-right-mask {
    position: absolute;
    left: -32%;
    height: 596px;
  }
}

.classes-img-banner{
  background: $sand-color;
  color: $darkgrey-color;
  border-top: 2px solid $gold-color;
  border-bottom: 2px solid $gold-color;
  min-height: 600px;

  background-image: url("../images/class-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;

  .img-right-mask {
    position: absolute;
    left: -32%;
    height: 596px;
  }
}

.services-img-banner{
  background: $sand-color;
  color: $darkgrey-color;
  border-top: 2px solid $gold-color;
  border-bottom: 2px solid $gold-color;
  min-height: 600px;

  background-image: url("../images/services-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  overflow: hidden;
  position: relative;

  .img-left-mask {
    position: absolute;
    right: -27%;
    height: 596px;
  }
}

.providers-section{
  padding: 30px 0px;

  img{
    padding: 10px 30px;
    mix-blend-mode: luminosity;
  }
}

button.btn.btn-primary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;

  border: 1px solid $darkrose-color;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  background: $darkrose-color;

  flex: none;
  order: 1;
  flex-grow: 0;
}

button.btn.btn-primary.green{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;

  border: 1px solid $link-color;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  background: $link-color;

  flex: none;
  order: 1;
  flex-grow: 0;
}

button.btn.btn-secondary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;

  border: 1px solid $green-color;
  box-sizing: border-box;
  border-radius: 30px;
  color: $green-color;
  background: none;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}

button.btn.btn-secondary:hover{
  background-color: $green-color;
  color: #fff;
}

footer{
  background: $peach-color;
  color: $link-color;
  padding: 60px 0px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  background-image: url("../images/footer-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-x: 75%;
  background-position-y: 200px;

  p{
    color: $link-color;
  }

  .footer-logo{
    position: relative;
    top: 25%;
  }

  h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  ul{
    padding-left: 0rem;
    list-style: none;

    li{
      background-image: url('../images/bullet-point.svg');
      background-repeat: no-repeat;
      background-position-y: 0.6rem;
      padding-left: 1rem;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
    }

    li::marker{
      margin-top: 5px;
    }
  }
  
}

.team-section{
  max-width: 960px;

  .col{
    padding: 40px;
  }

  .card{
    border: none;
    background: none;

    .card-img-top{
      border-radius: 50%;
    }

    .card-title{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      color: $darkgrey-color;
    }

    .card-text{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: $gold-color;
    }


  }
}

.team-detail{
  max-width: 960px;
  margin-top: 70px;
  margin-bottom: 70px;

  h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }

  .team-title{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $gold-color;
  }
}

.contact-information{
  max-width: 960px;

  margin-top: 70px;
  margin-bottom: 70px;

}


.dropdown-toggle::after {
  background-image: url("../images/chevron-down.svg");
  border: none;
  width: 9px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 8px;
  top: 1px;
  position: relative;
}


@media (max-width: 767px) { 
  body{
    background: #fff;
  }

  header{
    background-image: url("../images/mobile-top-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  footer{
    background-position-y: bottom;
  }
}